nav {
  height: 100px;
  width: 100%;
  background: var(--backround-clr);
  position: sticky;
  bottom: 0;
  z-index: 2;
  border-top: 3px solid var(--txt-clr);
}

nav ul {
  height: 100x;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

nav a i {
  font-size: 40px;
  padding-top: 20px;
}
