.question {
  background: var(--backround-clr);
  color: var(--txt-clr);
  text-align: center;
  position: relative;
  padding-top: 20px;
}

.question__bookmark {
  position: absolute;
  left: 50px;
  top: 5px;
  font-size: 30px;
}

.answer {
  text-align: center;
  color: var(--txt-clr);
  background: var(--backround-clr);
  padding: 50px 0;
}

.answer__btn {
  padding: 5px 15px;
}


.tags-container{
display: flex;
gap: 10px;
margin-left: 35px;
}

.tag{
  color: var(--txt-clr);
}

label{
  display: block;
}

.label__textarea{
  text-align: center;
  color: var(--txt-clr);
  background: var(--backround-clr);
  padding: 50px 0;
}
.label__tags{
  text-align: center;
  background: var(--backround-clr);
  color: var(--txt-clr);
}
.input__tags{
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding-bottom: 5px;
}
.chart-count{
  color: var(--txt-clr);
  background: var(--backround-clr);
  text-align: right;
  padding-right: 10px;
}

form{
  display: flex;
  flex-direction: column;
}